# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

# thirdweb.com
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=""
THIRDWEB_SECRET_KEY=""
THIRDWEB_ENGINE_URL=""
THIRDWEB_ENGINE_ACCESS_TOKEN=""
# moralis.io
MORALIS_API_KEY=""
# this can be any string
KYBERSWAP_CLIENT_ID=""
# coingecko.com
COINGECKO_API_KEY=""
# opensea.io
OPENSEA_API_KEY=""
# simplehash.io
SIMPLEHASH_API_KEY=""
# google.com
GOOGLE_VISION_API_KEY=""
# defined.fi
DEFINED_API_KEY=""
# posthog.com
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""