@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
  font-family: 'Heebo', sans-serif;
}

/* move an element up when hovered */
.raise-on-hover {
  @apply transition ease-in-out hover:-translate-y-1 hover:shadow-xl motion-reduce:transition-none motion-reduce:hover:transform-none;
}

/* remove up and down arrows from number inputs */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.btn {
  @apply font-normal;
}
